<h1>Projects: </h1>

<% if @projects.blank? %>
<p>There are not any projects currently in the system.</p>
<% end %>

<% else %>
<% @projects.each do |project| %>
<%  if project.user_id != @project_id %>
Du 채r inte 채gare till:
<% else %>
Du 채r 채gare till:

<% end %><%= link_to project.name, project_path(project) %><br />



<br><br>

<% end %>

